
* {
   margin: 0;
   /*padding: 0;*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background-color: #fff;
}

.clearfix {
	clear: both;
}

.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.text-center {
	text-align: center;
}


/*---------------*/
/* Gradient List */
/*---------------*/
.gradient-list {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.25em;
	width: 70%;
	margin: 0 auto;
}
	.gradient-list ul {
	list-style: none;
	padding: 0;
}
.gradient-list h1.gradient-header {
	margin: 0;
	padding: 20px;}
.gradient-list li.gradient-item {
	padding: 20px 30px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.gradient-list li.gradient-item:hover {
	padding-left: 40px;
}

.gradient-list .gradient-item a {
	text-decoration: none;
	color:#ffffff;
}
/* Web Reference */
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(1){
	background: #ff512f;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(2){
	background: #FF742F;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(3){
	background: #FF822F;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(4){
	background: #56AB2F;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(5){
	background: #6a3093;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(6){
	background: #773093;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(7){
	background: #ffb347;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(8){
	background: #FFC547;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(9){
	background: #FFCE47;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(10){
	background: #e52d27;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(11){
	background: #283E51;
}
.gradient-list .gradient-group:first-child li.gradient-item:nth-child(12){
	background: #2987A3;
}
/* Personal Reference */
.gradient-list .gradient-group:last-child li.gradient-item:nth-child(1){
	background: #0072ff;
}
.gradient-list .gradient-group:last-child li.gradient-item:nth-child(2){
	background: #008CFF;
}
.gradient-list .gradient-group:last-child li.gradient-item:nth-child(3){
	background: #00B3FF;
}

/*-------------------*/
/* Image Focal Point */
/*-------------------*/
.image-focal-point {
	overflow: hidden;
	height: auto;
	width: 100%;
}

.image-focal-point img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.image-focal-point div {
	position: relative; 
	max-width: none; 
	height: auto;
}

/* Image Crop */
.image-item-crop {
	/*margin: 0 auto;*/
	position: relative;
	overflow: hidden;
	height: 250px;
	width: 250px;
}

@media screen and (min-width: 768px) {
	.image-item-crop {
		height: 350px;
		width: 350px;
	}
}

@media screen and (min-width: 1024px) {
	.image-item-crop {
		height: 450px;
		width: 450px;
	}
}

.image-item-crop img {
	background-size: cover;
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.image-item-crop img.portrait {
	height: auto;
	width: 100%;
}


/*----------------------------*/
/* Image Background Resizable */
/*----------------------------*/
.image-background-resizable {
	background: url('/img/pexels-photo-68438.jpeg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*------------*/
/* Hover Zoom */
/*------------*/
.hover-zoom{
	display: inline-block;
}

.hover-resize {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.32s;
	transition: all 0.3s;
}
.hover-resize:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
.hover-border {
	overflow: hidden;
	float:left;
}

 /*------------------*/
/*Hover Overlap Text*/
/*------------------*/
.hover-overlap-text {
	position: relative;
	display: inline-block;
}

.hover-overlap-text .text-content {
	position: absolute;
	top:50%;
	margin:0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	opacity:0;
	-webkit-transition: opacity .25s ease;
} 
.hover-overlap-text:hover .text-content {
  	opacity:1;
} 

.hover-overlap-text img {
	-webkit-transition: opacity .25s ease;
}

.hover-overlap-text img:hover {
	opacity: 0.5;
}

